		label{
			font-size: 12pt;
			font-family: Bookman Old Style;
			padding: 10px;
			margin: 5px;
			color: white;
			text-align: center;
		}
		h1{
			font-family: Palatino Linotype; 
			font-size: 40pt;
			padding: 20px;
			color: #f5f5f5;
			text-shadow: 5px 5px black;
		}
		body{
			font-size: 13pt;
			font-family: Bookman Old Style;
			background-repeat: no-repeat;
			background-attachment: fixed;
			color: white;
		}
		.burger{
			background-color: transparent; 
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5); 
            margin: 10px auto; 
            width: 1000px; 
            height: 740px;
            padding: 20px;
            border: 3px solid black;
            font-color: #f5f5f5;
            border-radius: 15px;
            text-align: center;
		}
		input[type=text] {
  			size: 13pt;
			background-color: #f5f5f5;
			color: black;
  			border:2px solid black;font
  			font-family: Bookman Old Style;
		}
		img{
			height:100px;
			width:150px;
			margin: 10px;
		}
		input[type=submit] {
  			font-size: 13pt;
			border-radius: 5px;
			background-color: #f5f5f5;;
			color: black;
  			padding: 5px;
  			margin: 3px;
  			border:3px solid black;
  			font-family: Centaur;
  			height: 40px; 
  			width: 40px;
		}
		.item{
			padding: 10px;
			margin: 10px;
			background-color: transparent;
			width: 550px;
			height:200px;
			float: left;
			border: 1px dotted white;
			border-radius: 5px;
		}
		.iteminfo{
			padding: 10px;
			margin: 10px;
			background-color: transparent;
			width: 600px;
			height:480px;
			float: left;
			border: 2px solid black;
			border-radius: 5px;
		}
		.summary{
			padding: 10px;
			margin: 10px;
			background-color: transparent;
			width: 550px;
			height:100px;
			float: left;
			border: 1px dotted white;
			border-radius: 5px;
		}
		.cash{
			padding: 10px;
			margin: 10px;
			background-color: transparent;
			width: 550px;
			height:60px;
			float: left;
			border: 1px dotted white;
			border-radius: 5px;
		}
		
		.calculator{
			padding: 10px;
			margin: 10px;
			background-color: transparent;
			width: 210px;
			height:230px;
			float: left;
			border: 2px solid black;
			border-radius: 5px;
		}
		.nav_links{
			box-sizing: border-box;
			margin: 5px;
			padding: 5px;
			list-style: none;
		}
		.nav_links li{
			display: inline-block;
			padding: 20px;
		}
		.nav_links li a{
			transition: all 0.3s ease 0s;
		}
		.active{
			background-color: black;
			border-radius: 10px;
		}	
		a:hover{
			font-size: 14pt;
		}	
		li, a{
			font-family: Century;
			font-size: 12pt;
			font-weight: 500px;
			color: white;
			text-decoration: none;
		}
		header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px;
		}
		.topmenu{
			overflow: hidden;
			background-color: #222222;
		}